@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.811);
}

h1, h2, h3{
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

main{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.sectionBoutons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 2em;
}

.bouton{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

button{
    background-color: #f7931a;
    border: none;
    border-radius: 1em;
    padding: 15px 20px;
    color: aliceblue;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5em;
}
button:hover{
    cursor: pointer;
    background-color: #f7941ac0;
}

.coursAffichage, .tokenAffichage{
    color: rgb(24, 222, 24);
    font-weight: bold;
    font-size: 1em;
}